{% extends 'base.html.twig' %}

{% block contenu %}
    <div id="custom-templates">
        <input class="typeahead" type="text" placeholder="Oscar winners for Best Picture" id="adresse">
    </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.12.0/lodash.min.js"></script>
    <script>

        $("#adresse").keypress(function(){
            var adresse = $('#adresse').val()
            $.ajax({
                url : 'https://api-adresse.data.gouv.fr/search/',
                type : 'GET',
                data : 'q='+adresse,
                dataType : 'html', // On désire recevoir du HTML
                success : function(obj, statut){ // code_html contient le HTML renvoyé
                    var obj = jQuery.parseJSON(obj);
                    features = obj.features;

                    for (var i = 0; i < features.length; i++) {
                        var porp = features[i].properties;
alert(porp.label);
                    }
                }
            });

        });

    </script>
{% endblock %}








