<html lang="fr">
{% block head %}
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Restaurant Bigchos</title>
        <meta name="description" content="Resto">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        {{ encore_entry_link_tags('app') }}
        <!-- Fonts -->
        <link rel="stylesheet" href="{{ asset('css/icon-font.min.css') }}">
        <!-- CSS -->
        <link rel="stylesheet" href="{{ asset('css/style.min.css') }}">
    </head>
{% endblock %}
{% block body %}
    <body data-spy="scroll" data-target="#navbar" class="static-layout">
        {% block menu %}
            {% include 'menu.html.twig' %}
        {% endblock %}
        {% block contenu %}
        {% endblock contenu %}
        {% block footer %}
            {% include 'footer.html.twig' %}
        {% endblock %}
    <script>
        {{ encore_entry_script_tags('app') }}
    </script>
    </body>
{% endblock %}
</html>
